.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #a7dbd0;
  color: #1a0821;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: rgb(52, 6, 94);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  color: rgb(52, 6, 94);
}

body,
html {
  height: 100%;
}

.hero-image {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://imagizer.imageshack.com/img923/9402/OLSGtP.png");
  height: fit-content;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(52, 6, 94);
}
